.App {
  text-align: center;
}

#top {
  width: 250px;
  height: 100px;
}

#middle {
  width: 250px;
  height: 120px;
}

#bottom {
  width: 250px;
  height: 250px;
}


#tleft {
  background-color: blue;
}

#tmiddle {
  background-color: red;
}

#tright {
  background-color: orange;
}

#mleft {
  background-color: yellow;
}

#mmiddle {
  background-color: green;
}

#mright {
  background-color: purple;
}

#bleft {
  background-color: lightblue;
}

#bmiddle {
  background-color: pink;
}

#bright {
  background-color: silver;
}
































.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
